In [1]:
d0 = [ 8, 14, 13, 7, 15, 12, 16, 15, 12, 9 ]
d1 = [ 8, 14, 13, 7, 15 ]

d2 = [ 8, 14, 13, 7, 15, 12, 16, 15, 12, 9, 20, 22, 15, 12, 11,
  25, 13, 7, 10, 6, 11, 11, 5, 8, 16, 7, 11, 18, 12, 9
]

d3 = [
   8, 14, 13, 7, 15, 12, 16, 15, 12, 9, 20, 22, 15, 12, 11,
   8, 14, 13, 7, 15, 12, 16, 15, 12, 9, 20, 22, 15, 12, 11,
  25, 13, 7, 10, 6, 11, 11, 5, 8, 16, 7, 11, 18, 12, 9,
  25, 13, 7, 10, 6, 11, 11, 5, 8, 16, 7, 11, 18, 12, 9,
   8, 14, 13, 7, 15, 12, 16, 15, 12, 9, 20, 22, 15, 12, 11,
  25, 13, 7, 10, 6, 11, 11, 5, 8, 16, 7, 11, 18, 12, 9,
   8, 14, 13, 7, 15, 12, 16, 15, 12, 9, 20, 22, 15, 12, 11,
   8, 14, 13, 7, 15, 12, 16, 15, 12, 9, 20, 22, 15, 12, 11,
  25, 13, 7, 10, 6, 11, 11, 5, 8, 16, 7, 11, 18, 12, 9,
  25, 13, 7, 10, 6, 11, 11, 5, 8, 16, 7, 11, 18, 12, 9
]

d4 = [
  80000, 140000, 130000, 70000, 150000, 120000, 160000, 150000, 120000, 90000, 200000, 220000, 150000, 120000, 110000,
  80000, 140000, 130000, 70000, 150000, 120000, 160000, 150000, 120000, 90000, 200000, 220000, 150000, 120000, 110000,
  250000, 130000, 70000, 100000, 60000, 110000, 110000, 50000, 80000, 160000, 70000, 110000, 180000, 120000, 90000,
  80000, 140000, 130000, 70000, 150000, 120000, 160000, 150000, 120000, 90000, 200000, 220000, 150000, 120000, 110000,
  250000, 130000, 70000, 100000, 60000, 110000, 110000, 50000, 80000, 160000, 70000, 110000, 180000, 120000, 90000,
  250000, 130000, 70000, 100000, 60000, 110000, 110000, 50000, 80000, 160000, 70000, 110000, 180000, 120000, 90000,
  80000, 140000, 130000, 70000, 150000, 120000, 160000, 150000, 120000, 90000, 200000, 220000, 150000, 120000, 110000,
  80000, 140000, 130000, 70000, 150000, 120000, 160000, 150000, 120000, 90000, 200000, 220000, 150000, 120000, 110000,
  250000, 130000, 70000, 100000, 60000, 110000, 110000, 50000, 80000, 160000, 70000, 110000, 180000, 120000, 90000,
  250000, 130000, 70000, 100000, 60000, 110000, 110000, 50000, 80000, 160000, 70000, 110000, 180000, 120000, 90000
]

In [2]:
def puttable(interval, data, n):
    for start in range(len(data)):
        pos = start
        over = 0
        for i in range(1, n+1):
            d = 0
            while d < interval:
                d += data[pos]
                pos = (pos+1)%len(data)
                if pos == start:
                    over += 1
        if over == 0 or (over == 1 and pos == start):
            return True
    return False

In [3]:
def main(data:list):
    n = int(input())
    if n > len(data):
        print("nの値が不正です")
    else:
        total = sum(data)
        for i in range(1 ,total+1):
            if not puttable(i, data, n):
                print("N = {:d}のときの最小値は".format(n))
                print(i-1)
                break

In [14]:
main(d1)

N = 5のときの最小値は
7

In [15]:
main(d1)

N = 3のときの最小値は
15

In [16]:
main(d2)

N = 30のときの最小値は
5

In [18]:
main(d2)

N = 10のときの最小値は
31

In [19]:
main(d3)

N = 10のときの最小値は
182

In [21]:
main(d3)

N = 100のときの最小値は
12

In [25]:
main(d4)

N = 10のときの最小値は
1820000

In [24]:
main(d4)

N = 100のときの最小値は
120000

In [4]:
main(d2)

N = 8のときの最小値は
41

In [5]:
main(d3)

N = 10のときの最小値は
182

In [6]:
main(d3)

N = 100のときの最小値は
12

In [7]:
main(d4)

N = 10のときの最小値は
1820000

In [8]:
main(d4)

N = 100のときの最小値は
120000